
.app {
  text-align: center;
  background-color: #222;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  width: 100px;
  margin: 20px auto;
}

.app-header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}
