.app {
  text-align: center;
  background-color: #222;
}

.app-title {
  font-size: 4em;
  font-weight: bold;
  margin: 10px auto;
}

.current-date, .app-user {
  margin: 5px auto;
  font-family: 'Raleway', sans-serif;
}

.current-date {
  color: #fae034;
  font-size: 2em;
}

.app-user {
  color: #f4a237;
}

.app-header {
  background: url('../images/owl-unsplash2.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 100px;
  color: white;
}

.welcome-message {
  margin-top: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}
