.date-and-username {
  margin: 5px auto;
}

.created-at, .display-name {
  margin: 5px 5px 5px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.display-name {
  color: #ba0000;
}

.content {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  margin: 0 0 15px 7px;
  color: #4b4b4b;
}
