.messages-header {
  background-color: #eee;
  width: 70vw;
}

.message-container {
  background-color: #eee;
  display: flex;
  height: 100vh;
  display: block;
  width: 70vw;
  /*height: 55vh;*/
  margin: 0 auto;
}

.messages-title {
  margin: 0 auto;
  padding: 10px;
  /*color: #fff;*/
  font-size: 2em;
}

.message-entry-point {
  
}
