.messages {
  width: 70vw;
  height: 100%;
  background-color: #e2e2e2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  flex-direction: column;
  align-items: flex-start;
}

.messages-header {
  background-color: red;
  width: 70vw;
}

.message-container {
  display: flex;
}

.messages-title {
  margin: 0 auto;
  padding: 20px;
}

.message-entry-point {
  background-color: yellow;
  display: block;
  width: 70vw;
  height: 300px;
  border-style: red;
  background-color: grey;
  margin: 0 auto;
}
