.messages-header {
  background-color: red;
  width: 70vw;
}

.message-container {
  display: flex;
}

.messages-title {
  margin: 0 auto;
  padding: 20px;
}

.message-entry-point {
  background-color: yellow;
  display: block;
  width: 70vw;
  height: 55vh;
  border-style: red;
  background-color: grey;
  margin: 0 auto;
}
